body{
	margin: 0 0 40px 0;
	font-family: Tahoma;
	font-size:150%;
	letter-spacing: 0.1em;
	background: #D1E1F9;
	color:#5D7189;
	line-height:90%;
}
 
#main{
	margin:40px 0 0 0;
	text-align:center;
}

#header{
	padding-right:200px;
}

#image_wrap{
	position:absolute;
	top:0px;
	width:100%;
	height:200px;
}

#image:hover + .line{
	height:14px;
	top:67px;
}

#image_wrap .line{
	top:70px;
}


#image{
	position:absolute;
	right:5px;
	top:5px;
	z-index:1;
	border: solid #C8DCF4 5px;
}

#image img{
	border:solid 1px white;
}

#divider{
	position:relative;
	height:20px;
}

#bio{
	padding:5px 15%;
	font-size:60%;
	letter-spacing: normal;
}

/*IE puts outlines around images within anchor tags */
a img{
	border:none;
}

.project {
	margin-bottom:10px;
	padding:0px 15px;
	background-color: #D5E3FA;
	border: 3px solid rgba(0,0,0,0.1);
	position:relative;
	margin-left:18%;
	margin-right:3%;
	height:50px;
	text-align:left;
	-webkit-transition:background-color 0.2s ease-in-out;
	-moz-transition:background-color 0.2s ease-in-out;
	transition:background-color 0.2s ease-in-out;
}

.project,
#image
{
	-moz-border-radius:7px;
	border-radius:7px;
}

.category{
	position:relative;
}

.category .cat_title {
		font-size:80%;
		position:relative;
		margin-left:18%;
		text-align:left;
		margin-top:1%;
		margin-bottom:2px;
}

.category .project{
	margin-left:18%;
}

.project:hover + .line{
	height:14px;
	top:23px;
}

.project_wrap{
	position:relative;
}

.line {
	position:absolute;
	height:6px;
	width:100%;
	left:0px;
	top:27px;
	background-color: rgba(0,0,0,0.1);
	z-index:-1;
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
}

.project:hover{
	background:white;
}

.project a{
	display:block;
	height:100%;
	background: center left no-repeat;
}

.project a.text_link{
	text-decoration: none;
	color: black;
	letter-spacing: normal;
	padding-top:16px;
	font-family:Trebuchet, arial;
}

.project a.icon_link{
	background-position: left center;
	text-decoration: none;
	font-weight:bold;
	color: black;
	letter-spacing: normal;
	height:auto;
	padding:16px 0px 16px 53px;
	font-family:Trebuchet, arial;
}

#email{
	font-size:10pt;
	font-family:Verdana;
	font-weight: normal;
	cursor:pointer;
}

#powered_by{
	font-size:16px;
	letter-spacing:normal;
}
